<div *ngIf="isLoading; else elseBlock">
  <h1 class="loading-header">Is Loading...</h1>
  <div class="loading-wrapper"><div class="loader"></div></div>
</div>
<ng-template #elseBlock>
  <mat-card>
    <mat-card-header>
      <h2>User Sign in</h2>
    </mat-card-header>
    <mat-card-content>
      <form
        class="example-form"
        [formGroup]="signInForm"
        (ngSubmit)="proceedSignIn()"
      >
        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
        <div>
          <button
            [disabled]="signInForm.invalid"
            mat-raised-button
            color="primary"
          >
            Sign in
          </button>
          <a routerLink="/register" mat-raised-button color="accent"
            >New User?</a
          >
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
