li {
  padding: 10px;
  background-color: #fff;
  color: chartreuse;
}
li > p > span {
  color: black;
}
.odd-li {
  background: lavender;
}
.last-list {
  background: pink;
}

li > p.date {
  /* to not move whole element we show Data info above it */
  z-index: 100;
  position: absolute;
  background-color: yellow;
  color: black;
}
