<p [ngStyle]="{ color: getColor() }">TODO List: {{ tasksList.length }}</p>
<ng-container *ngIf="tasksList.length > 0; else noTask">
  <ol>
    <li
      appDate
      [date]="task.created"
      *ngFor="let task of tasksList | sortName; let odd = odd"
      [ngClass]="{ 'odd-li': odd, 'last-list': tasksList.length === 1 }"
    >
      <p style="width: 15em">
        <span>{{ task.name | transformTask : "!" }}</span>
      </p>
      <button type="button" class="btn btn-danger" (click)="remove(task)">
        Remove
      </button>
      <button type="button" class="btn btn-success" (click)="done(task)">
        Done
      </button>
    </li>
  </ol>
</ng-container>
<ng-template #noTask>
  <p style="color: chartreuse">No tasks... You have free time now...</p>
</ng-template>
