li {
  padding: 5px 10px 5px 10px;
  list-style: none;
  background: rgb(195, 253, 137);
}
li > div p.date {
  /* to not moving whole element we show Data info above it */
  z-index: 100;
  position: absolute;
  background-color: yellow;
}
